// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

 html .wrapper {
     padding-left: var(--cui-sidebar-occupy-start,0);
 }

button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: var(--colorText);
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
ul,
li {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

:root {
    --headerHeight: 60px;
    --containerSidePadding: 20px;
    --cartFooterHeight: 60px;

    --colorBg: #fff;
    --colorBgSecondary: #f5f5f5;

    --colorPrimary: #0d6efd;
    --colorPrimary--hover: #0b5ed7;
    --colorDanger: #dc3545;
    --colorDanger--hover: #bb2d3b;

    --colorBorder: #dddddd;

    --colorText: #323232;
    --colorTextSecondary: #757575;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--containerSidePadding);
    padding-right: var(--containerSidePadding);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    min-height: auto;
    padding: 0;
    border: none;
    background-color: #fff;
    box-shadow: 0 -5px 8px 14px rgba(0,0,0,.05);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 var(--containerSidePadding);
    }

    &__left {
        display: flex;
        align-items: center;
        &>*+* {
            margin-left: 24px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        flex: none;
        width: 60px;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        &:hover {
            color: var(--colorPrimary);
        }
        &+.header__nav-item {
            margin-left: 16px;
        }
    }

    &__search-wrap {
        position: relative;
    }

    &__search {
        width: 100%;
        padding-right: 50px;
    }

    &__search-btn {
        position: absolute;
        top: 1px;
        right: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: calc(100% - 2px);
        font-size: 16px;
        border-radius: 0 0 4px 4px;
        transition: all .2s;
        &:hover {
            background-color: var(--colorBgSecondary);
        }
    }

    &__right {
        display: flex;
        align-items: center;
        &>*+* {
            margin-left: 24px;
        }
    }

    &__icons-nav {
        display: flex;
        align-items: center;
    }

    &__icons-nav-item {
        position: relative;
        font-size: 16px;
        color: var(--colorText);
        transition: all .2s;
        &:hover {
            color: var(--colorPrimary);
        }
        &+.header__icons-nav-item {
            margin-left: 16px;
        }
    }

    &__icons-nav-item-counter {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2px;
        min-width: 14px;
        height: 14px;
        font-size: 8px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        background-color: var(--colorDanger);
        border-radius: 100px;
    }

}

.page-wrapper {
    padding-top: var(--headerHeight);
}

.title {
    font-weight: 600;

    &--size-18 {
        font-size: 18px;
        line-height: 24px;
    }
    &--size-20 {
        font-size: 20px;
        line-height: 28px;
    }
    &--size-24 {
        font-size: 24px;
        line-height: 32px;
    }
    &--size-32 {
        font-size: 32px;
        line-height: 40px;
    }
}

.intro {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.page {
    width: 100%;

    &__title {
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
    }

    &__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__section {
        &+.page__section {
            margin-top: 60px;
        }
    }

    &__section-title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    &__products-wrap {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 24px;
    }

    &__products-filter {
        background-color: var(--colorBgSecondary);
    }
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 40px 24px;
    &.size-1x1x1x {
        grid-template-columns: repeat(3,1fr);
    }
    &.size-1x1x1x1x {
        grid-template-columns: repeat(4,1fr);
    }
}

.cs-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 100%;
        height: 200px;
        padding: 16px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 8px;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    &__meta {
        width: 100%;
        margin-top: 16px;
        &>*+* {
            margin-top: 6px;
        }
    }
    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    &__subtitle {
        font-size: 10px;
        line-height: 16px;
        color: var(--colorTextSecondary);
    }
    &__footer {
        width: 100%;
        padding-top: 16px;
        &>*+* {
            margin-top: 8px;
        }
    }
    &__price {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        span {
            font-size: 12px;
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        &>button+button {
            margin-left: 8px;
        }
    }
}

.page-cart {
    width: 100%;
    padding-top: 40px;
    padding-bottom: calc(var(--cartFooterHeight) + 40px);

    &__title {
        margin-bottom: 32px;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: var(--cartFooterHeight);
        min-height: auto;
        padding: 0 var(--containerSidePadding);
        border: none;
        background-color: #fff;
        box-shadow: 0 5px 8px 14px rgba(0,0,0,.05);
    }

    &__footer-price-title {
        font-size: 10px;
        line-height: 16px;
        color: var(--colorTextSecondary);
    }

    &__footer-price {
        font-size: 28px;
        line-height: 34px;
        font-weight: 600;
    }
}

.cart-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &+.cart-card {
        margin-top: 32px;
    }

    &__left {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 24px;
    }

    &__img {
        flex: none ;
        width: 160px;
        height: 160px;
        border-radius: 4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
    }

    &__meta {
        padding-left: 16px;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    &__right {
        flex: none;
        width: 200px;
        &>*+* {
            margin-top: 8px;
        }
    }
    &__right-big {
        flex: none;
        width: 350px;
        &>*+* {
            margin-top: 8px;
        }
    }

    &__counter-wrap {
        display: flex;
        align-items: center;
    }

    &__counter-btn-wrap {
        display: flex;
        flex: none ;
    }

    &__counter-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        border: 1px solid var(--colorBorder);
        color: var(--colorTextSecondary);
        &:hover {
            color: var(--colorText);
        }
        &.is-decr {
            border-radius: 4px 0 0 4px;
        }
        &.is-incr {
            border-radius: 0 4px 4px 0;
        }
    }

    &__counter-value {
        padding: 0 18px;
        font-size: 16px;
        line-height: 34px;
        font-weight: 600;
        border-top: 1px solid var(--colorBorder);
        border-bottom: 1px solid var(--colorBorder);
    }

    &__price-title {
        font-size: 10px;
        line-height: 16px;
        color: var(--colorTextSecondary);
    }

    &__price {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
}

.order-confirm {
    margin-bottom: calc(var(--cartFooterHeight) + 10px);
    &__Label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
}

.profile-page {
    width: 100%;
    padding-top: 40px;
    padding-bottom: calc(var(--cartFooterHeight) + 40px);
    &__card {
        padding: 40px 20px 0;
    }
}
